.total{
  background-color: aliceblue;
}
.active{
    border-bottom: 2px solid black;
}
.d-flex button{
  font-size: 20px;
  font-weight: bold;
  background-color: ghostwhite;
  border: none;
}
.d-flex a{
  color: deeppink;
}
.d-flex button:hover{
  background-color: gainsboro;
}
.d-flex a:hover{
  color: deeppink;
}
.container {
  margin: 0;
  margin-left: -12px;
  width: 1583.3px;
  height: 700px;
  background-attachment: fixed;
}

.container .images{
  width: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  background-attachment: fixed;
}

.container h1 {
  font-size: 200px;
  font-weight: bold;
  color: deeppink;
}

.container h1 {
  position: absolute;
  top: 40%;
  right: -2%;
  transform: translate(-50%, -50%);
}

.box {
  display: flex;
  width: 100%;
}

.image {
  margin: 5%;
  margin-left: 2%;
  width: 400px;
  height: 400px;
}

.image img {
  width: 100%;
  height: 80%;
  border-radius: 50%;
  box-shadow: 20px 20px 50px 10px lavenderblush;
}

.image1 {
  margin: 5%;
  margin-left: 7%;
  width: 400px;
  height: 400px;
}

.image1 img {
  width: 100%;
  height: 80%;
  border-radius: 50%;
  box-shadow: 20px 20px 50px 10px lavenderblush;
}

.image2 {
  margin: 5%;
  margin-right: 2%;
  width: 400px;
  height: 400px;
}

.image2 img {
  width: 100%;
  height: 80%;
  border-radius: 50%;
  box-shadow: 20px 20px 50px 10px lavenderblush;
}

/* @keyframes mymove {
  50% {
    box-shadow: 10px 20px 30px lightpink;
  }
} */

.box1 {
  display: flex;
  height: 500px;
}

.box1 img {
  margin-left: 3%;
  width: 50%;
  height: 80%;
  border-radius: 30%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
  /* animation: mymove 5s infinite; */
}

.text1 {
  margin-top: 6%;
  margin-right: 2%;
  padding-left: 2%;
  width: 70%;
  font-size: 20px;
}

.box2 {
  display: flex;
  height: 500px;
}

.text2 {
  margin-left: 2%;
  margin-top: 6%;
  padding-right: 2%;
  width: 70%;
  font-size: 20px;
}

.box2 img {
  margin-right: 2%;
  width: 54%;
  height: 80%;
  border-radius: 30%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
  /* animation: mymove 5s infinite; */
}
.image5{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5%;
  width: 54%;
  height: 80%;
}

.slide {
  height: 700px;
}

.carousel-inner {
  width: 80%;
  margin-left: 10%;
  box-shadow: 20px 20px 50px 10px lavenderblush;
}

.carousel-item {
  justify-content: center;
  align-items: center;
  height: 600px;
}

.carousel-item img {
  height: 100%;
}

.foot {
  /* text-align: center;
  justify-content: center;
  align-items: center; */
  padding: 10px;
  height: 300px;
  background-color: whitesmoke;
}
footer{
    display: flex;
}

.foot .about{
    margin: 5%;
    /* width: 20%; */
}

.follow{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 5%;
    margin-left: 15%;
}

.foot h3 {
  font-weight: bold;
}

.social .fa {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
}
.reserve{
    margin-top: 260px;
    margin-left: -770px;
}

/* About */
.aboutus{
  width: 100%;
  height: 700px;

}
.aboutus img{
  width: 100%;
  height: 90%;
}
.aboutus h1{
  top: 20%;
  right: 10%;
  position: absolute;
  font-size: 200px;
  font-weight: bold;
  color: deeppink;
}
/* Login */
.admin2{
  background-image: url("./images/icons8-team-7LNatQYMzm4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.admin{
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 5%;
}
.admin h1{
  font-size: 150px;
}
.box3{
  width: 100%;
  height: 80%;
}

.box3 input{
  margin: 2%;
  padding: 2%;
  width: 850px;
  height: 50px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-weight: bold;
}
.box3 .checkbox{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.box3 .checkbox input{
  margin-left: -50px;
  margin-right: -90px;
  width: 30%;
  height: 18px;
}
.box3 .checkbox label{
  display: flex;
  font-size: 400;
  width: 60%;
}
.box3 .checkbox p{
  margin-top: 12px;
  font-size: 20px;
}
.box3 button{
  width: 8%;
  height: 50px;
  font-size: 25px;
  background-color: antiquewhite;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

/* SignUp */
.sign2{
  background-image: url("./images/icons8-team-7LNatQYMzm4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.sign{
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 4%;
}
.sign h1{
  font-size: 100px;
}
.sign .form{
  display: grid;
  width: 100%;
  height: 80%;
}
.sign .form input{
  margin: 2%;
  padding: 2%;
  width: 850px;
  height: 50px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-weight: bold;
}
.sign .form .names{
  display: flex;
  margin-bottom: 4%;
  width: 875px;
  height: 50px;
}
.sign .form .radio{
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
}.sign .form .radio input{
  margin-left: -70px;
  width: 40%;
  height: 18px;
}
.sign .form #text{
  margin-left: -400px;
  font-size: 30px;
}
.sign .form .buttons{
  margin-top: -40px;
}
.sign .form label{
  display: flex;
  font-size: 400;
  width: 60%;
}
.sign .form p{
  margin-left: 10px;
  margin-top: -4px;
  font-size: 20px;
}
.sign .form button{
  width: 130px;
  height: 50px;
  font-size: 25px;
  background-color: antiquewhite;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

/* sidebar */
.dash{
  display: flex;
  height: 789px;
}
.board{
  height: 100%;
  background-color: #ddd;
}
.dashboard{
  margin-top: 15px;
  justify-content: space-between;
  width: 100%;
}
.dashboard .btn-toolbar{
  justify-content: space-evenly;
}
.dash-cont{
  display: grid;
  width: 100%;
}
.link-dark{
  cursor: pointer;
}
.list-unstyled li{
  padding: 2%;
}
.list-unstyled li a {
  text-decoration: none;
  margin: 16%;
}
.colours{
  width: 50%;
  margin: 5%;
}
.skills {
  text-align: right;
  margin-top: 5px;
  padding-top: 10px;
  /* padding-bottom: 10px; */
  color: white;
}
.one {width: 90%; background-color: #04AA6D;}
.two {width: 80%; background-color: #2196F3;}
.three {width: 70%; background-color: #f44336;}
.four {width: 80%; background-color: #808080;}
.five {width: 65%; background-color: darkorange;}

.dash-body{
  display: flex;
}
.piechart{
    margin-left: 10%;
    margin-top: 33%;
    display: block;
    position: absolute;
    width: 20%;
    height: 30%;
    border-radius: 50%;
    background-image: conic-gradient(
        pink 70deg, 
        lightblue 0 150deg, 
        orange 0 230deg,
        green 0 280deg,
        wheat 0deg);
}



/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 15%;
  right: 25%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 700px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: darkcyan;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 30px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.desc{
  font-weight: bold;
  
}
.dash-cont{
  display: grid;
}
